In [44]:
# some manual processing that i did on text:
# convert docx to txt format
# remove footer from txt file
# remove header in english from txt file

import os
import re
import imp
import json
import nltk
import numpy as np
from numpy import savetxt
import pandas as pd
import matplotlib.pyplot as plt

from gensim import corpora
from nltk.util import ngrams
from collections import Counter
from nltk.tokenize import RegexpTokenizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
# importing local modules

import sys
sys.path.append('../src/')

import text_cleanup.text_cleanup as thesisCleanUp
import preprocessing.text_preprocessing as thesisTextPreprocessing
import data.reader as thesisDataReader
import utils.utils as thesisUtils
import features.lexical as thesisLexicalFeatures


imp.reload(thesisCleanUp)
imp.reload(thesisTextPreprocessing)
imp.reload(thesisDataReader)
imp.reload(thesisUtils)
imp.reload(thesisLexicalFeatures)

In [3]:
version_len_in_paragraphs = 322
total_samples = 64
number_of_sections = 5
samples_per_section = total_samples / number_of_sections

In [4]:
samples_per_section

12.8

we can split 12 samples in section into 3 groups: strongly similar, silimar, poor similar
each group will have 4 paragraphs per section
in total 20 paragraphs cross all sections

In [5]:
320/5

64.0

In [6]:
zwickau_sections = thesisDataReader.get_zwickau_separated_by_sections()
london_sections = thesisDataReader.get_london_separated_by_sections()

In [7]:
for section_num in range(0, 5):
    zwickau_section_corpus = thesisCleanUp.create_corpus_by_line(thesisCleanUp.jvtext(zwickau_sections[section_num]))
    london_section_corpus = thesisCleanUp.create_corpus_by_line(thesisCleanUp.jvtext(london_sections[section_num]))
    
    lexical_features_df = pd.concat([
        thesisLexicalFeatures.create_lexical_features_df(zwickau_section_corpus, f'zwickau, section: {section_num}'), 
        thesisLexicalFeatures.create_lexical_features_df(london_section_corpus, f'london, section: {section_num}')
    ])
    
    display(lexical_features_df)

,total_characters,total_words,unique_words,paragraphs,unique_lemmatized_word
"zwickau, section: 0",14195.0,2123.0,1067.0,20.0,807.0
"london, section: 0",10165.0,1510.0,845.0,20.0,663.0

,total_characters,total_words,unique_words,paragraphs,unique_lemmatized_word
"zwickau, section: 1",112411.0,17861.0,4134.0,249.0,2852.0
"london, section: 1",129837.0,20656.0,4495.0,242.0,2988.0

,total_characters,total_words,unique_words,paragraphs,unique_lemmatized_word
"zwickau, section: 2",4959.0,788.0,454.0,7.0,357.0
"london, section: 2",4974.0,784.0,453.0,6.0,353.0

,total_characters,total_words,unique_words,paragraphs,unique_lemmatized_word
"zwickau, section: 3",18419.0,2803.0,1353.0,21.0,987.0
"london, section: 3",18332.0,2784.0,1345.0,21.0,973.0

,total_characters,total_words,unique_words,paragraphs,unique_lemmatized_word
"zwickau, section: 4",23766.0,3760.0,1627.0,25.0,1225.0
"london, section: 4",30250.0,4769.0,1952.0,29.0,1454.0

In [48]:
20+249+7+21+25

322

In [53]:
def calculate_percentages(section_len):
    section_1_in_per = (section_len/322)*100
    percentage_of_percentage = (section_1_in_per/60)*100
#     print('percentage_of_percentage', percentage_of_percentage)
    to_take_from_section_1 = (section_1_in_per/percentage_of_percentage)*100
    print('section in %', section_1_in_per)
    print('from section will be takken', to_take_from_section_1)

In [54]:
calculate_percentages(20)
print('***************')
calculate_percentages(249)
print('***************')
calculate_percentages(7)
print('***************')
calculate_percentages(21)
print('***************')
calculate_percentages(25)

section in % 6.211180124223603
from section will be takken 60.0
***************
section in % 77.32919254658384
from section will be takken 60.0
***************
section in % 2.1739130434782608
from section will be takken 60.0
***************
section in % 6.521739130434782
from section will be takken 60.0
***************
section in % 7.763975155279502
from section will be takken 60.00000000000001

In [73]:
6 + 77 + 2 + 7 + 8

100

In [75]:
4 + 46 + 1 + 4 + 5

60

In [79]:
322/46

7.0