In [1]:
%pip install decorator==5.0.9

import networkx as nx
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import matplotlib.pyplot as plt
import networkx as nx
import seaborn as sns

Requirement already satisfied: decorator==5.0.9 in /Users/sasha.kruglyak/opt/anaconda3/lib/python3.8/site-packages (5.0.9)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import imp
import sys

sys.path.append('../src/')

import text_cleanup.text_cleanup as thesisCleanUp
import preprocessing.text_preprocessing as thesisTextPreprocessing
import data.reader as thesisDataReader
import utils.utils as thesisUtils
import features.tf_idf.n_gram as thesisTfIdfNgramFeatures
import similarities.cosine as thesisCosineSimilarity

imp.reload(thesisCleanUp)
imp.reload(thesisTextPreprocessing)
imp.reload(thesisDataReader)
imp.reload(thesisUtils)
imp.reload(thesisCosineSimilarity)
imp.reload(thesisTfIdfNgramFeatures)

In [3]:
zwickau_corpus = thesisDataReader.get_zwickau_corpus()
london_corpus = thesisDataReader.get_london_corpus()

In [4]:
statistics_df_zwickau = thesisCosineSimilarity.create_statistics_df(zwickau_corpus, london_corpus, 'zwickau')

In [5]:
statistics_df_london = thesisCosineSimilarity.create_statistics_df(london_corpus, zwickau_corpus, 'london')

In [6]:
statistics_df_combined = pd.concat([statistics_df_zwickau, statistics_df_london])

In [7]:
statistics_df_combined

,feature_name,p_#,cross/inner,mean,std,min,25%,50%,75%,max,# of 0 similarities,p_length,most_similar_p_#,most_similar_score,most_similar_p_length,most_similar_dropped,most_similar_dropped_p_#,most_similar_dropperd_score,most_similar_dropped_p_length,version
0,2_gram,0,inner,0.231428,0.049144,0.103870,0.199567,0.234173,0.266041,0.382694,0,31,321,0.382694,53,None,NaN,NaN,NaN,zwickau
1,2_gram,1,inner,0.688952,0.104741,0.274285,0.624526,0.710362,0.764685,0.866673,0,878,5,0.866673,1248,None,NaN,NaN,NaN,zwickau
2,2_gram,2,inner,0.625779,0.096483,0.250700,0.572698,0.644933,0.700207,0.797541,0,377,5,0.797541,1248,None,NaN,NaN,NaN,zwickau
3,2_gram,3,inner,0.659646,0.096405,0.289649,0.601198,0.677046,0.733958,0.826515,0,725,5,0.826515,1248,None,NaN,NaN,NaN,zwickau
4,2_gram,4,inner,0.655271,0.098697,0.314683,0.595564,0.673477,0.730636,0.816763,0,707,281,0.816763,1334,None,NaN,NaN,NaN,zwickau
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3175,count_vectorizer_5_gram,313,cross,0.109089,0.045656,0.007279,0.079608,0.107231,0.131828,0.316795,0,3226,297,0.316795,2488,False,NaN,NaN,NaN,london
3176,count_vectorizer_5_gram,314,cross,0.095552,0.053794,0.013822,0.057207,0.085922,0.120639,0.341544,0,1325,152,0.341544,1518,False,NaN,NaN,NaN,london
3177,count_vectorizer_5_gram,315,cross,0.102737,0.058298,0.004337,0.062212,0.093139,0.129564,0.343818,0,821,87,0.343818,1222,False,NaN,NaN,NaN,london
3178,count_vectorizer_5_gram,316,cross,0.057517,0.033607,0.000000,0.032537,0.051247,0.077881,0.169342,3,463,115,0.169342,272,False,NaN,NaN,NaN,london
3179,count_vectorizer_5_gram,317,cross,0.108846,0.053716,0.007811,0.071610,0.098822,0.136519,0.298101,0,586,300,0.298101,608,False,NaN,NaN,NaN,london

In [8]:
statistics_df_combined_copy = statistics_df_combined.copy()

In [9]:
# zwickau_inner_df = statistics_df_combined.loc[
#     (statistics_df_combined['cross/inner'] == 'inner') &
#     (statistics_df_combined['version'] == 'zwickau')
# ]
# zwickau_cross_df = statistics_df_combined.loc[
#     (statistics_df_combined['cross/inner'] == 'cross') &
#     (statistics_df_combined['version'] == 'zwickau')
# ]

In [10]:
def check_inner_cross_mean(statistics_df, version_name):
    features = statistics_df.feature_name.unique()
    
    for feature in features:
        total = 0
        
        version_inner_df = statistics_df.loc[
            (statistics_df['cross/inner'] == 'inner') &
            (statistics_df['version'] == version_name) & 
            (statistics_df['feature_name'] == feature)
        ]
        version_cross_df = statistics_df.loc[
            (statistics_df['cross/inner'] == 'cross') &
            (statistics_df['version'] == version_name) & 
            (statistics_df['feature_name'] == feature)
        ]
        
        for i, d in version_cross_df.iterrows():
            cross_mean_val = d['mean']
            p_index = d['p_#']
            inner_mean_val = version_inner_df.loc[
                (version_inner_df['p_#'] == p_index) &
                (version_inner_df['feature_name'] == feature),
                'mean'
            ].values[0]
            
            cross_inner_mean_diff = cross_mean_val - inner_mean_val
            if cross_inner_mean_diff > 0:
                statistics_df.loc[
                    (statistics_df['version'] == version_name) &
                    (statistics_df['cross/inner'] == 'inner') &
                    (statistics_df['p_#'] == p_index) & 
                    (statistics_df['feature_name'] == feature),
                    'inner_mean_is_low'
                ] = True
            else:
                statistics_df.loc[
                    (statistics_df['version'] == version_name) &
                    (statistics_df['cross/inner'] == 'inner') &
                    (statistics_df['p_#'] == p_index) & 
                    (statistics_df['feature_name'] == feature),
                    'inner_mean_is_low'
                ] = False
                total += 1
            statistics_df.loc[
                (statistics_df['version'] == version_name) &
                (statistics_df['cross/inner'] == 'inner') &
                (statistics_df['p_#'] == p_index) & 
                (statistics_df['feature_name'] == feature),
                'cross_inner_mean_diff'
                ] = cross_inner_mean_diff
            
        print(f'version: {version_name}, for feature: {feature}, number of inner lowe that cross is: {total}')

In [11]:
check_inner_cross_mean(statistics_df_combined_copy, 'zwickau')

version: zwickau, for feature: 2_gram, number of inner lowe that cross is: 4
version: zwickau, for feature: 3_gram, number of inner lowe that cross is: 3
version: zwickau, for feature: 4_gram, number of inner lowe that cross is: 12
version: zwickau, for feature: 5_gram, number of inner lowe that cross is: 22
version: zwickau, for feature: count_vectorizer_5_gram, number of inner lowe that cross is: 7

In [12]:
check_inner_cross_mean(statistics_df_combined_copy, 'london')

version: london, for feature: 2_gram, number of inner lowe that cross is: 318
version: london, for feature: 3_gram, number of inner lowe that cross is: 318
version: london, for feature: 4_gram, number of inner lowe that cross is: 316
version: london, for feature: 5_gram, number of inner lowe that cross is: 284
version: london, for feature: count_vectorizer_5_gram, number of inner lowe that cross is: 315

In [13]:
# total = 0
# for i, d in zwickau_cross_df.iterrows():
#     cross_mean_val = d['mean']
#     p_index = d['p_#']
#     inner_mean_val = zwickau_inner_df.loc[zwickau_inner_df['p_#'] == p_index, 'mean'].values[0]
#     if cross_mean_val > inner_mean_val:
#         statistics_df_combined_copy.loc[
#             (statistics_df_combined_copy['version'] == 'zwickau') &
#             (statistics_df_combined_copy['cross/inner'] == 'inner') &
#             (statistics_df_combined_copy['p_#'] == p_index),
#             'inner_mean_is_low'
#         ] = True
#     else:
#         statistics_df_combined_copy.loc[
#             (statistics_df_combined_copy['version'] == 'zwickau') &
#             (statistics_df_combined_copy['cross/inner'] == 'inner') &
#             (statistics_df_combined_copy['p_#'] == p_index),
#             'inner_mean_is_low'
#         ] = False
#         total += 1
# print(f'number of inner mean lowwer than cross is: {total}')

In [14]:
# london_inner_df = statistics_df_combined.loc[
#     (statistics_df_combined['cross/inner'] == 'inner') &
#     (statistics_df_combined['version'] == 'london')
# ]
# london_cross_df = statistics_df_combined.loc[
#     (statistics_df_combined['cross/inner'] == 'cross') &
#     (statistics_df_combined['version'] == 'london')
# ]

In [15]:
# total = 0
# for i, d in london_cross_df.iterrows():
#     cross_mean_val = d['mean']
#     p_index = d['p_#']
#     inner_mean_val = london_inner_df.loc[london_inner_df['p_#'] == p_index, 'mean'].values[0]
#     if cross_mean_val > inner_mean_val:
#         statistics_df_combined_copy.loc[
#             (statistics_df_combined_copy['version'] == 'london') &
#             (statistics_df_combined_copy['cross/inner'] == 'inner') &
#             (statistics_df_combined_copy['p_#'] == p_index),
#             'inner_mean_is_low'
#         ] = True
#     else:
#         statistics_df_combined_copy.loc[
#             (statistics_df_combined_copy['version'] == 'london') &
#             (statistics_df_combined_copy['cross/inner'] == 'inner') &
#             (statistics_df_combined_copy['p_#'] == p_index),
#             'inner_mean_is_low'
#         ] = False
#         total += 1
# print(f'number of inner mean lowwer than cross is: {total}')

In [54]:
statistics_df_combined_copy.to_csv('../computed_data/text_to_text/statistics_df.csv')

In [21]:
statistics_df_zwickau.query("`cross/inner` == 'inner'")

,feature_name,p_#,cross/inner,mean,std,min,25%,50%,75%,max,# of 0 similarities,p_length,most_similar_p_#,most_similar_score,most_similar_p_length,most_similar_dropped,most_similar_dropped_p_#,most_similar_dropperd_score,most_similar_dropped_p_length,version
0,2_gram,0,inner,0.231428,0.049144,0.103870,0.199567,0.234173,0.266041,0.382694,0,31,321,0.382694,53,None,NaN,NaN,NaN,zwickau
1,2_gram,1,inner,0.688952,0.104741,0.274285,0.624526,0.710362,0.764685,0.866673,0,878,5,0.866673,1248,None,NaN,NaN,NaN,zwickau
2,2_gram,2,inner,0.625779,0.096483,0.250700,0.572698,0.644933,0.700207,0.797541,0,377,5,0.797541,1248,None,NaN,NaN,NaN,zwickau
3,2_gram,3,inner,0.659646,0.096405,0.289649,0.601198,0.677046,0.733958,0.826515,0,725,5,0.826515,1248,None,NaN,NaN,NaN,zwickau
4,2_gram,4,inner,0.655271,0.098697,0.314683,0.595564,0.673477,0.730636,0.816763,0,707,281,0.816763,1334,None,NaN,NaN,NaN,zwickau
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1605,count_vectorizer_5_gram,317,inner,0.063064,0.027083,0.000000,0.046415,0.062365,0.077461,0.175285,2,556,299,0.175285,2764,None,NaN,NaN,NaN,zwickau
1606,count_vectorizer_5_gram,318,inner,0.109734,0.043691,0.004167,0.079846,0.106301,0.136133,0.260851,0,1535,313,0.260851,1912,None,NaN,NaN,NaN,zwickau
1607,count_vectorizer_5_gram,319,inner,0.078253,0.029624,0.004151,0.057275,0.076135,0.096259,0.191496,0,1418,123,0.191496,1337,None,NaN,NaN,NaN,zwickau
1608,count_vectorizer_5_gram,320,inner,0.053711,0.025757,0.003082,0.034590,0.051501,0.071044,0.146063,0,520,297,0.146063,2488,None,NaN,NaN,NaN,zwickau
1609,count_vectorizer_5_gram,321,inner,0.017532,0.025098,0.000000,0.000000,0.010641,0.023194,0.247436,102,53,0,0.247436,31,None,NaN,NaN,NaN,zwickau

In [ ]:
statistics_df_zwickau.loc[(statistics_df_zwickau['p_#'] == 0) & (statistics_df_zwickau['cross/inner'] == 'inner')]

In [16]:
statistics_df_combined_copy[
    (statistics_df_combined_copy['feature_name'] == '5_gram') |
    (statistics_df_combined_copy['feature_name'] == 'count_vectorizer_5_gram')
].sort_values('p_#')

,feature_name,p_#,cross/inner,mean,std,min,25%,50%,75%,max,...,most_similar_p_#,most_similar_score,most_similar_p_length,most_similar_dropped,most_similar_dropped_p_#,most_similar_dropperd_score,most_similar_dropped_p_length,version,inner_mean_is_low,cross_inner_mean_diff
966,5_gram,0,inner,0.008343,0.015417,0.000000,0.00000,0.002362,0.010302,0.148716,...,321,0.148716,53,None,NaN,NaN,NaN,zwickau,True,0.001215
2898,count_vectorizer_5_gram,0,cross,0.016631,0.026600,0.000000,0.00000,0.007410,0.023127,0.220219,...,19,0.220219,360,False,NaN,NaN,NaN,zwickau,NaN,NaN
2576,5_gram,0,cross,0.009559,0.017142,0.000000,0.00000,0.003247,0.011943,0.160069,...,8,0.160069,550,False,NaN,NaN,NaN,zwickau,NaN,NaN
2862,count_vectorizer_5_gram,0,cross,0.020757,0.032964,0.000000,0.00000,0.000000,0.030692,0.158941,...,274,0.158941,853,False,NaN,NaN,NaN,london,NaN,NaN
1272,count_vectorizer_5_gram,0,inner,0.019303,0.031500,0.000000,0.00000,0.000000,0.027472,0.205132,...,19,0.205132,360,None,NaN,NaN,NaN,london,True,0.001454
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1608,count_vectorizer_5_gram,320,inner,0.053711,0.025757,0.003082,0.03459,0.051501,0.071044,0.146063,...,297,0.146063,2488,None,NaN,NaN,NaN,zwickau,True,0.003665
1287,5_gram,321,inner,0.010207,0.016764,0.000000,0.00000,0.005519,0.013074,0.148716,...,0,0.148716,31,None,NaN,NaN,NaN,zwickau,True,0.000088
2897,5_gram,321,cross,0.010295,0.013363,0.000000,0.00000,0.006274,0.013622,0.082978,...,19,0.082978,360,False,NaN,NaN,NaN,zwickau,NaN,NaN
3219,count_vectorizer_5_gram,321,cross,0.018136,0.022027,0.000000,0.00000,0.011561,0.024641,0.156363,...,19,0.156363,360,False,NaN,NaN,NaN,zwickau,NaN,NaN
1609,count_vectorizer_5_gram,321,inner,0.017532,0.025098,0.000000,0.00000,0.010641,0.023194,0.247436,...,0,0.247436,31,None,NaN,NaN,NaN,zwickau,True,0.000603

In [17]:
statistics_df_combined_copy[
    (statistics_df_combined_copy['feature_name'] == '5_gram') |
    (statistics_df_combined_copy['feature_name'] == 'count_vectorizer_5_gram')
].sort_values('p_#').to_csv('../computed_data/text_to_text/5_gram_cv_itidf.csv')

In [ ]:
statistics_df[statistics_df['feature_name'] == '5_gram'].sort_values('p_#').to_csv('../computed_data/text_to_text/5_gram_zwickau_stats_df.csv')

In [ ]:
statistics_df[statistics_df['feature_name'] == '5_gram'].set_index(['p_#', 'cross/inner', ]).sort_values('p_#')

# Word counters

In [5]:
from collections import Counter
# # here is neat graph for count: https://www.absentdata.com/python-graphs/python-word-frequency/
def create_words_frequency(corpus):    
    word_counter =  Counter(' '.join(corpus).split())
    return sorted(word_counter.items(), key=lambda item: item[1], reverse=True)

In [6]:
zwickau_corpus = thesisDataReader.get_zwickau_corpus()
london_corpus = thesisDataReader.get_london_corpus()

In [7]:
def create_data(dictionary, corpus_1_name, corpus_2_name, feature_name):
    data = []
    for i in dictionary:
        corpus_1_counter = 0 if corpus_1_name not in dictionary[i] else dictionary[i][corpus_1_name]
        corpus_2_counter = 0 if corpus_2_name not in dictionary[i] else dictionary[i][corpus_2_name]
        data.append([
            feature_name,
            i,
            corpus_1_counter,
            corpus_2_counter,
            corpus_1_name if corpus_1_counter > corpus_2_counter else 'equal' if corpus_1_counter == corpus_2_counter else corpus_2_name
        ])
    return data

In [8]:
def creat_word_frequency_data(corpus_1, corpus_1_name, corpus_2, corpus_2_name):    
    dictionary = {}
    
    counter_sorted_corpus_1 = create_words_frequency(corpus_1)
    counter_sorted_corpus_2 = create_words_frequency(corpus_2)
    
    def add_to_dictionary(counters, corpus_name):
        for i in counters:
            word = i[0]
            count = i[1]
            if word not in dictionary:
                dictionary[word] = {}
            dictionary[word][corpus_name] = count

    add_to_dictionary(counter_sorted_corpus_1, corpus_1_name)
    add_to_dictionary(counter_sorted_corpus_2, corpus_2_name)

    data = []
    return create_data(dictionary, corpus_1_name, corpus_2_name, 'word_counter')

In [9]:
def creat_n_gram_frequency_data(corpus_1, corpus_1_name, corpus_2, corpus_2_name, n_gram):    
    dictionary = {}
    
    counter_sorted_corpus_1 = create_n_gram_frequency(n_gram, corpus_1)
    counter_sorted_corpus_2 = create_n_gram_frequency(n_gram, corpus_2)
    
    def add_to_dictionary(counters, corpus_name):
        for i in counters:
            word = i[0].replace(' ', '_')
            count = i[1]
            if word not in dictionary:
                dictionary[word] = {}
            dictionary[word][corpus_name] = count

    add_to_dictionary(counter_sorted_corpus_1, corpus_1_name)
    add_to_dictionary(counter_sorted_corpus_2, corpus_2_name)
    return create_data(dictionary, corpus_1_name, corpus_2_name,  f'count_vectorizer_{n_gram}_gram')
#     data = []
#     for i in dictionary:
#         corpus_1_counter = 0 if corpus_1_name not in dictionary[i] else dictionary[i][corpus_1_name]
#         corpus_2_counter = 0 if corpus_2_name not in dictionary[i] else dictionary[i][corpus_2_name]
#         data.append([
#             f'count_vectorizer_{n_gram}_gram',
#             i,
#             corpus_1_counter,
#             corpus_2_counter
#         ])
        
#     return data

In [10]:
word_freq = creat_word_frequency_data(
    zwickau_corpus,
    'zwickau',
    london_corpus,
    'london'
)

In [11]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [12]:
def create_n_gram_frequency(n_gram, corpus):
    vec = CountVectorizer(ngram_range=(n_gram, n_gram), analyzer='char').fit(corpus)
    bag_of_words = vec.transform(corpus)
    sum_words = bag_of_words.sum(axis = 0)
    words_freq = [(word, sum_words[0, i]) for word, i in vec.vocabulary_.items()]
    words_freq = sorted(words_freq, key = lambda x: x[1], reverse = True)
    return words_freq

In [13]:
create_n_gram_frequency(5, zwickau_corpus)

[(' est ', 593),
 ('s et ', 357),
 ('ibus ', 319),
 ('m et ', 283),
 ('itur ', 280),
 (' que ', 263),
 (' quod', 262),
 (' mont', 261),
 ('quod ', 250),
 ('t in ', 238),
 (' cont', 234),
 ('iuita', 234),
 (' ciui', 229),
 ('ciuit', 229),
 (' per ', 224),
 ('sunt ', 221),
 ('ntem ', 209),
 (' sunt', 209),
 (' leuc', 209),
 ('contr', 207),
 ('ontra', 207),
 ('ntra ', 205),
 (' terr', 201),
 ('e et ', 186),
 ('orum ', 183),
 ('m in ', 181),
 (' qui ', 180),
 ('sque ', 171),
 (' et i', 171),
 ('monte', 163),
 ('usque', 162),
 (' non ', 159),
 (' usqu', 159),
 ('uitat', 159),
 ('terra', 157),
 (' habe', 153),
 ('a et ', 152),
 (' et s', 150),
 ('entem', 149),
 ('m est', 149),
 ('e ad ', 145),
 (' cum ', 143),
 ('s in ', 143),
 (' dici', 142),
 ('itate', 141),
 ('dicit', 139),
 (' ubi ', 139),
 ('ntur ', 137),
 ('um et', 137),
 (' et a', 133),
 ('is et', 133),
 ('t et ', 130),
 (' sed ', 130),
 ('i et ', 129),
 ('erat ', 128),
 ('et in', 127),
 ('e in ', 126),
 ('citur', 124),
 (' et p', 123),
 ('atur ', 123),
 ('inde ', 121),
 (' et e', 120),
 ('s est', 120),
 ('trum ', 120),
 ('leuca', 120),
 ('icitu', 120),
 ('quam ', 118),
 (' et c', 116),
 ('ntes ', 114),
 (' eius', 112),
 ('que a', 112),
 ('us et', 111),
 (' et d', 110),
 (' in l', 109),
 ('erra ', 109),
 ('austr', 106),
 ('orien', 105),
 ('rient', 104),
 ('um es', 104),
 (' orie', 104),
 ('tiam ', 103),
 ('strum', 103),
 ('um qu', 102),
 (' omni', 102),
 ('s con', 102),
 (' erat', 101),
 ('tibus', 101),
 ('onte ', 101),
 ('idem ', 100),
 ('erunt', 100),
 ('in qu', 100),
 ('um in', 99),
 ('iente', 99),
 (' in m', 99),
 (' inte', 99),
 (' in q', 99),
 ('ue ad', 99),
 (' aust', 99),
 (' inde', 98),
 ('tamen', 97),
 ('amen ', 96),
 ('super', 95),
 ('runt ', 95),
 (' tame', 95),
 (' quia', 94),
 ('quia ', 94),
 ('etiam', 94),
 (' mult', 94),
 ('ntis ', 93),
 (' in e', 93),
 ('rum e', 93),
 (' etia', 93),
 ('inter', 93),
 ('eius ', 93),
 ('utem ', 93),
 ('fuit ', 93),
 (' ibi ', 92),
 ('a in ', 92),
 ('mare ', 92),
 (' fuit', 92),
 ('iter ', 91),
 ('ident', 91),
 ('autem', 91),
 (' domi', 90),
 (' mare', 90),
 (' aute', 90),
 (' mari', 89),
 ('domin', 89),
 (' occi', 88),
 (' magn', 88),
 ('onem ', 86),
 (' long', 86),
 ('uero ', 86),
 ('tur i', 86),
 (' sicu', 85),
 (' uald', 85),
 ('ualde', 85),
 ('ucis ', 84),
 (' uero', 84),
 ('occid', 84),
 ('itas ', 84),
 ('alde ', 84),
 ('em in', 83),
 ('a est', 83),
 ('us in', 83),
 (' part', 83),
 ('atis ', 83),
 ('tudin', 83),
 ('illa ', 82),
 ('itudi', 82),
 (' in t', 81),
 ('tra a', 81),
 ('is qu', 80),
 ('i in ', 80),
 ('monti', 80),
 ('uius ', 80),
 (' locu', 80),
 ('sanct', 79),
 (' et m', 79),
 ('ccide', 79),
 ('ciden', 79),
 ('est i', 79),
 (' sanc', 78),
 (' et u', 78),
 ('tate ', 78),
 (' temp', 78),
 (' port', 78),
 ('t de ', 78),
 ('leuci', 78),
 ('eucis', 78),
 (' illa', 77),
 ('tur e', 77),
 ('uitas', 77),
 (' uide', 76),
 (' in p', 76),
 (' dict', 76),
 ('r et ', 75),
 (' uall', 75),
 ('tum e', 75),
 ('am et', 74),
 (' quam', 73),
 ('ctum ', 73),
 ('m ad ', 73),
 ('itati', 73),
 (' supe', 73),
 ('auit ', 72),
 ('ditur', 72),
 ('dente', 72),
 (' in c', 72),
 ('is co', 72),
 ('s que', 72),
 (' aqui', 72),
 ('iuxta', 72),
 ('uxta ', 72),
 (' et t', 71),
 ('s de ', 71),
 ('m de ', 71),
 ('ordan', 71),
 (' cast', 71),
 (' dist', 71),
 ('est a', 70),
 ('is in', 70),
 (' beth', 70),
 ('arum ', 70),
 (' nunc', 70),
 ('nter ', 70),
 ('porta', 70),
 ('endit', 70),
 ('ontis', 70),
 (' iuxt', 70),
 ('unt i', 70),
 ('liter', 69),
 ('iorda', 69),
 (' quo ', 69),
 ('us qu', 68),
 ('clesi', 68),
 ('alem ', 68),
 ('itus ', 68),
 ('habet', 68),
 ('am in', 67),
 ('eccle', 67),
 ('ccles', 67),
 (' uel ', 67),
 ('pella', 67),
 (' fili', 67),
 ('udine', 67),
 ('a que', 66),
 ('es et', 66),
 (' chri', 66),
 ('chris', 66),
 ('m qui', 66),
 (' in i', 66),
 (' loco', 66),
 ('llis ', 66),
 ('habit', 66),
 (' iord', 66),
 ('castr', 66),
 ('ustru', 66),
 (' supr', 66),
 (' simi', 66),
 ('simil', 66),
 ('s qui', 65),
 ('hrist', 65),
 (' eccl', 65),
 (' sub ', 65),
 ('nunc ', 65),
 (' et h', 65),
 ('est c', 65),
 ('dista', 65),
 ('supra', 65),
 ('siue ', 65),
 ('em et', 64),
 (' ista', 64),
 (' esse', 64),
 ('unt e', 64),
 ('aquil', 64),
 ('quilo', 64),
 ('tra o', 64),
 ('antur', 63),
 ('abita', 63),
 (' regi', 63),
 ('uilon', 63),
 (' siue', 63),
 (' plur', 62),
 ('mons ', 62),
 ('sicud', 62),
 ('trans', 61),
 ('us es', 61),
 ('haben', 61),
 ('uper ', 61),
 (' circ', 61),
 ('ucas ', 61),
 ('icud ', 61),
 ('nibus', 60),
 ('ontem', 60),
 ('entes', 60),
 ('tus e', 60),
 (' qua ', 60),
 (' habi', 60),
 ('eucas', 60),
 ('e est', 60),
 ('abet ', 60),
 ('ilite', 59),
 ('s ill', 59),
 (' enim', 59),
 ('enim ', 59),
 ('sarra', 59),
 ('racen', 59),
 ('e mon', 59),
 (' uidi', 59),
 (' sita', 59),
 ('parte', 59),
 ('tatis', 59),
 ('untur', 59),
 ('imili', 59),
 ('loco ', 59),
 ('tur a', 58),
 ('ntibu', 58),
 ('onis ', 58),
 ('et de', 58),
 ('nt in', 58),
 (' sarr', 58),
 ('arrac', 58),
 ('rrace', 58),
 ('sita ', 58),
 ('que e', 57),
 (' post', 57),
 (' gali', 57),
 ('galil', 57),
 ('alile', 57),
 (' quan', 57),
 ('uibus', 57),
 ('m quo', 57),
 ('ur in', 57),
 (' mons', 57),
 ('rant ', 56),
 ('erusa', 56),
 ('salem', 56),
 ('m que', 56),
 ('t est', 56),
 ('upra ', 56),
 ('risti', 55),
 ('um de', 55),
 ('st in', 55),
 ('usale', 55),
 ('omini', 55),
 ('bus e', 55),
 ('atem ', 55),
 ('inis ', 55),
 ('r in ', 55),
 ('atus ', 55),
 ('nt et', 55),
 ('it in', 55),
 (' fere', 55),
 ('est s', 55),
 (' mili', 55),
 ('n et ', 55),
 ('itum ', 55),
 ('rusal', 54),
 ('ta qu', 54),
 ('que d', 54),
 ('tatem', 54),
 ('m per', 54),
 ('issim', 54),
 ('de qu', 54),
 (' ad m', 54),
 (' dice', 54),
 ('fere ', 54),
 ('a ciu', 54),
 (' tran', 53),
 (' pro ', 53),
 (' et f', 53),
 (' appe', 53),
 ('appel', 53),
 ('ppell', 53),
 ('milit', 53),
 (' nec ', 53),
 ('am qu', 52),
 ('sepul', 52),
 ('pulcr', 52),
 ('ribus', 52),
 ('tur p', 52),
 (' secu', 52),
 ('aris ', 52),
 ('ista ', 52),
 (' aliq', 52),
 ('aliqu', 52),
 ('nditu', 52),
 (' pede', 51),
 ('que i', 51),
 ('ta es', 51),
 ('uidi ', 51),
 ('arte ', 51),
 ('batur', 51),
 ('ilone', 51),
 ('dine ', 51),
 ('n quo', 51),
 ('erant', 50),
 (' egip', 50),
 ('o et ', 50),
 (' sepu', 50),
 ('s qua', 50),
 (' eam ', 50),
 ('scend', 50),
 (' tota', 50),
 (' ipsa', 50),
 ('quibu', 50),
 ('ngitu', 50),
 ('e quo', 50),
 ('t mon', 50),
 ('milia', 50),
 (' in s', 49),
 ('tem e', 49),
 (' ueni', 49),
 (' illu', 49),
 (' poss', 49),
 ('titud', 49),
 ('aceni', 49),
 (' in a', 49),
 ('ibide', 49),
 ('bidem', 49),
 ('anis ', 49),
 ('a ori', 49),
 (' de i', 49),
 ('egipt', 48),
 (' intr', 48),
 ('erum ', 48),
 ('in mo', 48),
 ('a mar', 48),
 ('inus ', 48),
 ('ctus ', 48),
 ('t ter', 48),
 ('m hab', 48),
 ('ur et', 48),
 (' et o', 48),
 ('ente ', 48),
 ('stat ', 48),
 (' prop', 47),
 (' lapi', 47),
 (' hec ', 47),
 ('e que', 47),
 (' et l', 47),
 (' quib', 47),
 ('e per', 47),
 ('tendi', 47),
 (' in u', 47),
 (' ibid', 47),
 (' edif', 47),
 ('edifi', 47),
 ('dific', 47),
 ('ra au', 47),
 ('a quo', 46),
 ('s ad ', 46),
 ('isse ', 46),
 ('t ad ', 46),
 (' de q', 46),
 (' aqua', 46),
 ('ocus ', 46),
 ('ominu', 46),
 ('cium ', 46),
 ('ra or', 46),
 ('t aut', 46),
 ('tis e', 46),
 ('e con', 45),
 (' ante', 45),
 ('tem i', 45),
 ('nis e', 45),
 ('minus', 45),
 ('ione ', 45),
 ('i qui', 45),
 (' pote', 45),
 (' ab a', 45),
 ('diceb', 45),
 ('iceba', 45),
 ('locus', 45),
 ('et es', 45),
 ('t qui', 45),
 ('ille ', 45),
 ('est u', 45),
 ('stian', 44),
 ('lius ', 44),
 ('ndum ', 44),
 ('n mon', 44),
 ('et si', 44),
 (' ita ', 44),
 (' alia', 44),
 ('secun', 44),
 ('esse ', 44),
 ('ntum ', 44),
 (' faci', 44),
 ('t ab ', 44),
 ('cuius', 44),
 ('dicta', 44),
 ('istat', 44),
 ('a aus', 44),
 ('t ibi', 44),
 ('t dic', 43),
 ('istia', 43),
 ('tem s', 43),
 ('ue in', 43),
 ('e qui', 43),
 ('tribu', 43),
 ('ores ', 43),
 ('ebatu', 43),
 (' cuiu', 43),
 ('gitur', 43),
 ('tant ', 43),
 ('cis c', 43),
 ('ualli', 43),
 (' desc', 42),
 (' quid', 42),
 ('m con', 42),
 ('tem c', 42),
 ('em qu', 42),
 (' syri', 42),
 ('s per', 42),
 ('ecund', 42),
 ('lilee', 42),
 ('quant', 42),
 ('t per', 42),
 (' lati', 42),
 ('e de ', 42),
 (' prim', 42),
 ('lonem', 42),
 ('norum', 42),
 (' dese', 42),
 ('deser', 42),
 ('esert', 42),
 ('lesia', 42),
 ('rum i', 41),
 ('ionis', 41),
 ('s hab', 41),
 ('t con', 41),
 ('cebat', 41),
 ('e dic', 41),
 ('eucam', 41),
 ('3 leu', 41),
 ('incip', 40),
 ('aria ', 40),
 ('intra', 40),
 (' anti', 40),
 ('lapid', 40),
 ('et su', 40),
 ('templ', 40),
 ('in te', 40),
 (' cons', 40),
 ('is de', 40),
 ('rum a', 40),
 ('in lo', 40),
 ('ia et', 40),
 ('licet', 40),
 ('icet ', 40),
 (' camp', 40),
 ('et di', 40),
 ('rdane', 40),
 ('a dic', 40),
 ('ucam ', 40),
 ('m usq', 40),
 (' omne', 40),
 ('is es', 40),
 (' 3 le', 40),
 ('allis', 40),
 ('orta ', 40),
 ('terre', 39),
 ('rum s', 39),
 ('erram', 39),
 ('rram ', 39),
 ('epulc', 39),
 ('ante ', 39),
 ('tione', 39),
 ('unt a', 39),
 ('in la', 39),
 ('ilee ', 39),
 ('n qua', 39),
 (' medi', 39),
 ('e qua', 39),
 ('a ill', 39),
 ('et ca', 39),
 ('em es', 39),
 ('o quo', 39),
 ('de mo', 39),
 ('icta ', 39),
 ('dicun', 39),
 ('icunt', 39),
 ('est t', 39),
 ('e mar', 39),
 ('iam e', 39),
 ('cunt ', 39),
 (' font', 39),
 ('m ubi', 39),
 ('t sup', 39),
 ('ulis ', 38),
 (' illi', 38),
 ('post ', 38),
 ('um ad', 38),
 (' adhu', 38),
 ('adhuc', 38),
 ('dhuc ', 38),
 ('ionem', 38),
 ('um su', 38),
 ('per t', 38),
 ('t ciu', 38),
 ('antum', 38),
 (' hoc ', 38),
 ('m uer', 38),
 ('it et', 38),
 ('ental', 38),
 (' trib', 38),
 (' dicu', 38),
 ('iunt ', 38),
 ('omnes', 38),
 ('mnes ', 38),
 (' ad o', 38),
 ('tum i', 37),
 ('osten', 37),
 ('stend', 37),
 ('riam ', 37),
 (' et n', 37),
 ('i sun', 37),
 ('ando ', 37),
 ('est e', 37),
 (' ab i', 37),
 ('a qua', 37),
 ('gnum ', 37),
 ('a par', 37),
 ('s sun', 37),
 ('alis ', 37),
 ('1 leu', 37),
 ('o in ', 37),
 ('munit', 37),
 ('ualle', 37),
 (' ille', 37),
 ('n lon', 37),
 (' pisc', 37),
 ('s quo', 36),
 ('tes e', 36),
 (' hodi', 36),
 ('hodie', 36),
 ('odie ', 36),
 ('tem a', 36),
 (' loca', 36),
 ('t ali', 36),
 ('s pro', 36),
 ('s dic', 36),
 ('longi', 36),
 ('gitud', 36),
 ('que s', 36),
 ('mari ', 36),
 ('ta et', 36),
 (' 4 le', 36),
 ('4 leu', 36),
 ('maris', 36),
 ('ictum', 36),
 ('etur ', 36),
 ('ceni ', 36),
 ('ebat ', 36),
 (' muni', 36),
 ('um si', 35),
 ('isti ', 35),
 ('rum q', 35),
 (' oste', 35),
 ('rum p', 35),
 ('um pe', 35),
 ('us su', 35),
 (' in h', 35),
 ('tempo', 35),
 ('empor', 35),
 ('ongit', 35),
 (' habu', 35),
 ('ipsa ', 35),
 ('tur q', 35),
 ('ur qu', 35),
 ('t hab', 35),
 ('tur s', 35),
 ('ultra', 35),
 ('ltra ', 35),
 ('locum', 35),
 ('ocum ', 35),
 (' fuer', 35),
 ('dictu', 35),
 ('potes', 35),
 (' uia ', 35),
 ('rtum ', 35),
 ('escen', 35),
 ('tere ', 35),
 ('tum a', 34),
 ('m int', 34),
 ('olis ', 34),
 ('et ma', 34),
 ('ius e', 34),
 ('m mar', 34),
 ('am de', 34),
 ('m sed', 34),
 ('ris e', 34),
 ('et ha', 34),
 ('atum ', 34),
 ('bus i', 34),
 ('rum u', 34),
 ('posse', 34),
 (' situ', 34),
 ('ellat', 34),
 ('s mon', 34),
 ('magna', 34),
 (' huiu', 34),
 ('huius', 34),
 (' 1 le', 34),
 ('s ciu', 34),
 ('est m', 34),
 ('astru', 34),
 ('tur d', 34),
 ('erior', 34),
 ('ifica', 34),
 (' ultr', 34),
 ('n lat', 34),
 ('otest', 34),
 ('ducit', 34),
 ('pore ', 34),
 ('erre ', 33),
 ('iani ', 33),
 (' in d', 33),
 ('t quo', 33),
 ('nte s', 33),
 ('a per', 33),
 ('um se', 33),
 ('iam s', 33),
 ('um ue', 33),
 ('est p', 33),
 ('s eiu', 33),
 ('n ter', 33),
 ('uantu', 33),
 ('pluri', 33),
 ('latit', 33),
 ('atitu', 33),
 ('tissi', 33),
 ('mini ', 33),
 ('ontes', 33),
 ('m dic', 33),
 ('unt s', 33),
 ('um ma', 33),
 (' uill', 33),
 ('a ual', 33),
 ('unt c', 33),
 ('on et', 33),
 ('inum ', 33),
 ('uerun', 33),
 ('nt qu', 33),
 ('imum ', 33),
 ('m mon', 33),
 ('nde a', 33),
 (' coll', 33),
 ('a de ', 33),
 ('iliar', 33),
 ('desce', 33),
 ('em de', 32),
 ('tem u', 32),
 ('loca ', 32),
 ('oris ', 32),
 ('et te', 32),
 (' mort', 32),
 ('tota ', 32),
 ('a sun', 32),
 (' alii', 32),
 ('omnib', 32),
 ('mnibu', 32),
 ('i de ', 32),
 ('circa', 32),
 ('irca ', 32),
 ('tur u', 32),
 ('es su', 32),
 ('i est', 32),
 ('um di', 32),
 (' ab o', 32),
 ('itant', 32),
 ('i dic', 32),
 (' cred', 32),
 ('danem', 32),
 ('uerit', 32),
 ('ilis ', 32),
 (' de s', 32),
 ('est l', 32),
 ('a aqu', 32),
 ('circu', 32),
 (' rege', 32),
 (' ad a', 32),
 (' duci', 32),
 ('ucit ', 32),
 ('ltum ', 32),
 ('et se', 32),
 ('mpore', 32),
 ('o loc', 32),
 (' ipso', 32),
 ('rum d', 31),
 (' proc', 31),
 ('bus p', 31),
 ('edes ', 31),
 (' ad s', 31),
 ('us di', 31),
 ('rente', 31),
 ('abent', 31),
 ('sset ', 31),
 ('ebant', 31),
 (' ad p', 31),
 ('est d', 31),
 ('in ea', 31),
 ('bitan', 31),
 ('nis i', 31),
 (' in r', 31),
 ('ia qu', 31),
 ('t omn', 31),
 ('torre', 31),
 ('orren', 31),
 (' litt', 31),
 ('e sun', 31),
 ('is si', 31),
 ('test ', 31),
 (' beat', 31),
 ('e gal', 31),
 ('um co', 31),
 ('ascen', 31),
 (' daui', 31),
 ('dauid', 31),
 ('icit ', 30),
 ('s mar', 30),
 ('re et', 30),
 ('abens', 30),
 ('bens ', 30),
 (' nisi', 30),
 ('nisi ', 30),
 ('at in', 30),
 ('t loc', 30),
 ('et al', 30),
 ('t pro', 30),
 ('ta in', 30),
 ('s ter', 30),
 ('a ter', 30),
 (' quar', 30),
 ('is di', 30),
 ('de et', 30),
 ('um re', 30),
 ('nomin', 30),
 ('qui e', 30),
 ('stro ', 30),
 ('e hab', 30),
 ('a qui', 30),
 ('n ea ', 30),
 ('ant i', 30),
 ('idam ', 30),
 ('lis e', 30),
 ('anem ', 30),
 ('filii', 30),
 ('tus i', 30),
 ('edit ', 30),
 (' turr', 30),
 ('us de', 30),
 (' 2 le', 30),
 ('2 leu', 30),
 (' et r', 30),
 ('cum i', 30),
 (' late', 30),
 (' ieru', 30),
 ('ierus', 30),
 ('rat i', 30),
 ('ncipi', 29),
 ('cit i', 29),
 ('imus ', 29),
 ('antiq', 29),
 ('ntiqu', 29),
 ('um pr', 29),
 (' uirg', 29),
 ('a era', 29),
 ('orem ', 29),
 ('dens ', 29),
 ('s pre', 29),
 ('et qu', 29),
 ('inem ', 29),
 ('prete', 29),
 ('us pr', 29),
 ('rra i', 29),
 ('cere ', 29),
 ('ere p', 29),
 (' de m', 29),
 ('e ter', 29),
 (' totu', 29),
 ('otum ', 29),
 ('m ter', 29),
 ('e ill', 29),
 ('ones ', 29),
 ('iorum', 29),
 ('s sed', 29),
 ('ntali', 29),
 (' phil', 29),
 ('ue es', 29),
 ('llatu', 29),
 ('c est', 29),
 (' de c', 29),
 ('as et', 29),
 ('n qui', 29),
 (' mihi', 29),
 ('mihi ', 29),
 (' isti', 29),
 ('unde ', 29),
 ('us ma', 29),
 (' torr', 29),
 ('t aqu', 29),
 (' acho', 29),
 ('in li', 29),
 ('situm', 29),
 (' plan', 29),
 ('t ind', 29),
 ('alia ', 29),
 ('rum c', 29),
 ('ultum', 29),
 ('later', 29),
 ('rdani', 29),
 ('danis', 29),
 ('ipso ', 29),
 ('is ui', 28),
 ('tiani', 28),
 ('iuers', 28),
 ('a san', 28),
 ('tum s', 28),
 ('et pa', 28),
 ('enden', 28),
 (' pres', 28),
 (' illo', 28),
 ('illo ', 28),
 ('unt p', 28),
 (' pret', 28),
 (' comm', 28),
 ('d dic', 28),
 ('et pe', 28),
 ('liis ', 28),
 ('i quo', 28),
 ('s ali', 28),
 ('ita e', 28),
 (' et b', 28),
 ('polis', 28),
 (' fluu', 28),
 ('ium e', 28),
 ('ter a', 28),
 ('multa', 28),
 ('e mag', 28),
 ('em se', 28),
 ('lium ', 28),
 ('uidam', 28),
 ('em ad', 28),
 ('ra aq', 28),
 ('de ad', 28),
 ('ius u', 28),
 ('inist', 28),
 ('nistr', 28),
 (' asce', 28),
 ('pisci', 28),
 ('bant ', 28),
 ('auid ', 28),
 ('ut di', 27),
 ('i per', 27),
 ('proce', 27),
 ('t ill', 27),
 (' fact', 27),
 ('reter', 27),
 ('ation', 27),
 ('unt m', 27),
 ('mortu', 27),
 (' tant', 27),
 ('uit s', 27),
 ('tum p', 27),
 ('s ubi', 27),
 ('tores', 27),
 ('bus s', 27),
 ('regio', 27),
 ('d in ', 27),
 ('t cas', 27),
 (' nomi', 27),
 ('s ut ', 27),
 ('quitu', 27),
 (' inci', 27),
 (' petr', 27),
 ('et pr', 27),
 ('quida', 27),
 ('liban', 27),
 (' quem', 27),
 (' unde', 27),
 ('m reg', 27),
 ('o per', 27),
 ('s ual', 27),
 ('tis s', 27),
 ('achon', 27),
 ('uod d', 27),
 ('litto', 27),
 ('ittor', 27),
 ('tore ', 27),
 ('tur m', 27),
 (' isto', 27),
 ('e ist', 27),
 ('quand', 27),
 ('ilia ', 27),
 ('rius ', 27),
 ('atere', 27),
 ('in pe', 27),
 ('liari', 27),
 ('t des', 26),
 ('ransi', 26),
 ('enti ', 26),
 ('ti et', 26),
 ('ulum ', 26),
 (' eran', 26),
 ('entis', 26),
 ('ceden', 26),
 ('iam i', 26),
 ('herus', 26),
 ('illud', 26),
 ('i con', 26),
 ('t cum', 26),
 ('ter e', 26),
 ('undum', 26),
 ('tris ', 26),
 (' hanc', 26),
 ('hanc ', 26),
 ('non e', 26),
 ...]

In [14]:
def creat_5_gram_frequency_data(corpus_1, corpus_1_name, corpus_2, corpus_2_name):
    return creat_n_gram_frequency_data(corpus_1, corpus_1_name, corpus_2, corpus_2_name, 5)

In [15]:
def creat_6_gram_frequency_data(corpus_1, corpus_1_name, corpus_2, corpus_2_name):
    return creat_n_gram_frequency_data(corpus_1, corpus_1_name, corpus_2, corpus_2_name, 6)

In [16]:
def creat_7_gram_frequency_data(corpus_1, corpus_1_name, corpus_2, corpus_2_name):
    return creat_n_gram_frequency_data(corpus_1, corpus_1_name, corpus_2, corpus_2_name, 7)

In [17]:
def creat_8_gram_frequency_data(corpus_1, corpus_1_name, corpus_2, corpus_2_name):
    return creat_n_gram_frequency_data(corpus_1, corpus_1_name, corpus_2, corpus_2_name, 8)

In [18]:
def creat_9_gram_frequency_data(corpus_1, corpus_1_name, corpus_2, corpus_2_name):
    return creat_n_gram_frequency_data(corpus_1, corpus_1_name, corpus_2, corpus_2_name, 9)

In [19]:
def creat_10_gram_frequency_data(corpus_1, corpus_1_name, corpus_2, corpus_2_name):
    return creat_n_gram_frequency_data(corpus_1, corpus_1_name, corpus_2, corpus_2_name, 10)

In [20]:
gram_5_frequency = creat_5_gram_frequency_data(
    zwickau_corpus,
    'zwickau',
    london_corpus,
    'london'
)
gram_6_frequency = creat_6_gram_frequency_data(
    zwickau_corpus,
    'zwickau',
    london_corpus,
    'london'
)
gram_7_frequency = creat_7_gram_frequency_data(
    zwickau_corpus,
    'zwickau',
    london_corpus,
    'london'
)
gram_8_frequency = creat_8_gram_frequency_data(
    zwickau_corpus,
    'zwickau',
    london_corpus,
    'london'
)
gram_9_frequency = creat_9_gram_frequency_data(
    zwickau_corpus,
    'zwickau',
    london_corpus,
    'london'
)
gram_10_frequency = creat_10_gram_frequency_data(
    zwickau_corpus,
    'zwickau',
    london_corpus,
    'london'
)

In [21]:
df_columns = [
    'feature_name', 
    'word', 
    'zwickau', 
    'london',
    'version with higher score'
]

words_df = pd.DataFrame(
    word_freq + gram_5_frequency + gram_6_frequency + gram_7_frequency + gram_8_frequency + gram_9_frequency + gram_10_frequency,
    columns=df_columns
)
words_df

,feature_name,word,zwickau,london,version with higher score
0,word_counter,et,1521,1685,london
1,word_counter,in,1038,1149,london
2,word_counter,est,600,668,london
3,word_counter,de,459,531,london
4,word_counter,ad,426,441,london
...,...,...,...,...,...
801433,count_vectorizer_10_gram,_dietarum_,0,1,london
801434,count_vectorizer_10_gram,dietarum_a,0,1,london
801435,count_vectorizer_10_gram,ietarum_am,0,1,london
801436,count_vectorizer_10_gram,etarum_ame,0,1,london
801437,count_vectorizer_10_gram,tarum_amen,0,1,london

In [106]:
words_df['feature_name'] == 'word_counter']].to_csv('../computed_data/text_to_text/5_gram_zwickau_stats_df.csv')

   feature_name word  zwickau  london
4  word_counter   ad      426     441

In [ ]:
words_df[words_df['feature_name'] == 'word_counter'].to_csv('../computed_data/text_to_text/count_words/word_counter.csv')

In [24]:
for feature_name in [
    'word_counter',
    'count_vectorizer_5_gram',
    'count_vectorizer_6_gram',
    'count_vectorizer_7_gram',
    'count_vectorizer_8_gram',
    'count_vectorizer_9_gram',
    'count_vectorizer_10_gram'
]:
    words_df[
        words_df['feature_name'] == feature_name
    ].to_csv(f'../computed_data/text_to_text/count_words/{feature_name}.csv')